<a href="https://colab.research.google.com/github/ravindrabharathi/END/blob/ravindra/session8/Assignment_8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Find and return nth element in a user provided list
2. Sort an array using binary sort algorithm
3. Seperate each character in a string with '<space>'
4. Find mean of list of numbers
5. Find std deviation of list of numbers
6. Find min in a list of numbers
7. Join two lists
8. Empty a list of items
9. Remove nth item in list 
10. Increase all items in list by n
11. Decrease all items in list by n
12. Divide all items in list by n
13. Multiply all items in list by n 
14. Find max in a list of numbers
15. Check if an item exists in list
16. Return a copy of list
17. Extract even numbers from list
18  Extract odd numbers from list
19. Return a tuple with one item or create a tuple from one item
20. Remove duplicates from a list
21. Check whether two sets have a intersection or not
22. Check whether set A is subset of set B
23. Check whether set A is superset if Set B
24. Return union if two sets
25. Return intersection of two sets
26. Check if a word exists in a sentence
27. Print number of characters in sentence
28. Concatenate two strings
29. Replace a substring
30. Toggle uppercase and lowercase
31. Add element to a dictionary
32. Remove elemment from a dictionary
33. Join two dictionaries
34. Find cube/n root of a number
35. Calculate area of a rectangle/parallelogram
36. Calculate velocity given time and distance
37. Calculate acceleration given time and velocity
38. Print if a greater than b
39. Print square root of number
40. Print absolute value of number
41. Convert feet to meter
42. Convert inches to cm
43. Convert mile to km
44. Convert celcius to farenheit
45. Insert number at specied position n of array/list
46. Reverse a list
47. Print if a and b are equal
48. Function to display current time
49. Check if current year is leap year
50. Print current month
51. Print current day

In [ ]:
#Write a Python function to Find and return nth element in a user provided list
def find_nth_element(the_list, n):
  nth_elem = the_list[n]    
  return nth_elem

find_nth_element([1,2,3,4,5,6],2)

In [ ]:
#Write a Python function to Sort an array using binary sort algorithm

In [ ]:
#Write a Python function to Seperate each character in a string with '<space>'

In [ ]:
#Write a Python function to Calculate and return mean of user provided list of numbers
def get_mean(the_list):
  return sum(the_list)/len(the_list)

get_mean([1,2,3,4,5])

In [ ]:
#Write a Python function to calculate and return standard deviation of user provided list of numbers 

def get_std(the_list):
  import math
  ave=sum(the_list)/len(the_list)
  diff=[x-ave for x in the_list]
  squares=[x**2 for x in diff]
  variance=sum(squares)/len(the_list)
  std =math.sqrt(variance)
  return std

get_std([1,2,3,4,5,6,7,8,9])

In [ ]:
#Write a Python function to Find and return min in a user provided list of numbers
def get_min(the_list):
  return min(the_list)

get_min([2,5,6,7,1,4,8])

In [ ]:
#Write a Python function to Join two user provided lists and return it
def join_lists(list1,list2):
  return list1+list2

join_lists([1,2,3,4],[5,6,7,8])

In [ ]:
#Write a Python function to Empty an user provided list of items
def empty_this_list(the_list):
  the_list.clear()
  return the_list

empty_this_list([12,3,4,4,6,7,8])

In [ ]:
#Write a Python function to Remove nth item in a user provided list of items 
def remove_nth_item(the_list,n):
  del(the_list[n-1])
  return the_list

remove_nth_item([1,2,3,4,5,6,7,8],5)

In [ ]:
#Write a Python function to Increase all items in user provided list by n
def increase_by_n(the_list,n):
  the_list=[x+n for x in the_list]
  return the_list

increase_by_n([1,2,3,4,5,6,7,8],5)

In [ ]:
#Write a Python function to Decrease all items in user provided list by n

def decrease_by_n(the_list,n):
  the_list=[x-n for x in the_list]
  return the_list

decrease_by_n([1,2,3,4,5,6,7,8],5)

In [ ]:
#Write a Python function to Divide all items in user provided list by n
def divide_by_n(the_list,n):
  the_list=[x/n for x in the_list]
  return the_list

divide_by_n([1,2,3,4,5,6,7,8],5)

In [22]:
#Write a Python function to Multiply all items in user provided list by n
def multiply_by_n(the_list,n):
  the_list=[x*n for x in the_list]
  return the_list

multiply_by_n([1,2,3,4,5,6,7,8],5)

[5, 10, 15, 20, 25, 30, 35, 40]

In [ ]:
#Write a Python function to Find and return max in a user provider list of numbers

def get_max(the_list):
  return max(the_list)

get_max([12,4,6,18,19,23])

In [ ]:
#Write a Python function to Check if an item exists in user provided list
def check_item_exists(the_list,the_item):
  return the_item in the_list

check_item_exists([1,2,3,4,5,6,7,8],5)

In [ ]:
#Write a Python function to Return a copy of a user provided list
def get_copy(the_list):
  return the_list.copy()

get_copy([1,2,3,4,5])

In [28]:
#Write a Python function to Extract even numbers from user provoded list 
def get_even(the_list):
  the_new_list=[x for x in the_list if x%2==0 ]
  return the_new_list

get_even([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [29]:
#Write a Python function to Extract odd numbers from user provoded list 
def get_odd(the_list):
  the_new_list=[x for x in the_list if x%2!=0 ]
  return the_new_list

get_odd([1,2,3,4,5,6,7,8,9])

[1, 3, 5, 7, 9]

In [ ]:
#Write a python function to create and return a tuple from single user provided item
def get_tuple(the_item):
  return (the_item,)

get_tuple(5)

In [ ]:
#Write a python function to remove duplicates from a list
def remove_duplicates(the_list):
  return list(set(the_list))

remove_duplicates([1,2,2,3,5,5,7,8,12,13,12,14])

In [41]:
#Write a python function to Check whether two user provided sets have an intersection or not
def has_intersection(set1,set2):
  return not (set1.isdisjoint(set2))

has_intersection({1,2,3,4},{6,7,8,9})

False

In [ ]:
#write a python function to check and return if set A is subset of B
def is_subset(A,B):
  return A.issubset(B)

is_subset({1,2,3,4,5},{1,2,3,4,5,6,7,8,9})

In [ ]:
#write a python function to check and return if set A is superset of B
def is_subset(A,B):
  return A.issuperset(B)

is_subset({1,2,3,4,5},{1,2,3,4,5,6,7,8,9})

In [ ]:
#write a python function to return a list of common items from two user provided lists 
def get_common_items(list1,list2):
  return list(set(list1).intersection(set(list2)))

get_common_items([2,4,6,8,9,11,12,16],[1,2,3,4,5,6,7,8,11,1,12,13,15,17])

In [57]:
#Write a python function to combine and return only unique items from two user provided lists 
def get_combined_unique(list1,list2):
  return list(set(list1).union(set(list2)))

get_combined_unique([1,2,3,4],[2,3,4,2,4,6])

[1, 2, 3, 4, 6]

In [60]:
#write a python program to check if word exists a sentence

def does_word_exist(sentnc,word):
  return word in sentnc

does_word_exist('This is a test sentence','test')

True

In [63]:
#write a program to print out number of non-space ( or non-whitespace) characters in sentence 

def get_char_count(sentnc):
  sentnc=sentnc.strip()
  sentnc1=sentnc.split(' ')
  s=sum([len(x) for x in sentnc1])

  return s

get_char_count("    I am a test ")

8

In [64]:
#write a python program to concatenate two strings 
sent1='This is string1'
sent2='This is string2'
concat_string=sent1+sent2
print(concat_string)

This is string1This is string2

In [65]:
#write a program to Replace a substring
str1='This is a about cats and dogs and monkeys'
str2='monkeys'
str3='donkeys'
str4=str1.replace(str2,str3)
print(str4)

This is a about cats and dogs and donkeys